<%= render "layouts/flash_messages" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 left-user-registration p-5">
      <h3 class="text-center text-white">The best online shopping experience.</h3>
      <h1 class="text-center text-white">Create An Account</h1>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.input :name %>
          <%= f.input :email %>
          <%= f.input :phone_number %>
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
          <%= f.button :submit, "Create Account", class: "create-new-user-button" %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>

    <div class="col-md-6 right-user-registration text-center p-5">
      <h1 class="mt-5">Sign In With Social media</h1>
      <button type="submit" class="btn facebook-button mt-5">Sign In with facebook</button>
    </div>
  </div>
  
</div>

