<%= render "layouts/flash_messages" %>
<div class="container-fluid" style="background: #9e3402;">
    <div class="row">
      <div class="col-md-3 left-user-registration pt-3 mx-auto">
        
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <h3 class="text-center text-white">Create An Account</h3>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.input :name %>
            <%= f.input :email %>
            <%= f.input :phone_number %>
            <%= f.input :password %>
            <%= f.input :password_confirmation %>
            <%= f.button :submit, "Create Account", class: "create-new-user-button py-3" %>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
</div>

