<div class="container-fluid" style="background: orange;">
	<h4 class="text-center py-5"><%= @search_result %> Results Found</h4>
	<div class="row">
		<div class="d-none d-md-block col-2" id="search-category-section">
			<div class="list-group category-list-group">
				<li class="list-group-item text-center font-wieht-bold h3 first-list-child">Categories</li>
				<% @categories.each do |category| %>
					<li class="list-group-item other-list-group-item"><%= link_to category.name, category, class: "catogories-products-link" %></li>
				<% end %>
			</div>
		</div>
		<div class="col-md-8 mx-auto">
			<div class="row">
				<% unless @product_search.empty? %>
					<% @product_search.each do |product| %>
				      <div class="col-lg-3 col-10 col-md-4 mb-4 mx-auto">
                  <div class="card h-100 card-border">
                    <%= link_to image_tag(product.photo_link, class: "card-img-top", alt: "photo here") , product %>
                    <div class="card-body p-0">
                      <h4 class="card-title">
                        <%= link_to product.title, product, class: "products-index-page-links text-center pt-1 d-block" %>
                      </h4>
                      <div class="d-flex justify-content-between">
                        <% if product.promotion == true %>
                          <span class="products-index-page-price"><del>Price: <%= product.price %>CFA</del></span>
                          <span class="products-index-page-price">Price: <%= product.pro_price %> CFA</span>
                        <% else %>
                          <span class="products-index-page-price">Price: <%= product.price %>CFA</span>
                      <% end %>                        
                      </div>                     
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                      <%= link_to "SEE MORE", product, class: "products-index-page-links" %>
                      <% if product.availability == true %>
                        <span class="badge badge-pill badge-info">Available</span>
                        <% else %>
                        <span class="badge badge-pill badge-danger">Finished</span>
                      <% end %>
                    </div>
                  </div>
                </div>
				    <% end %>
				<% end %>
			</div>

			<h3 class="border-bottom mt-5 text-center">Categories</h3>

			<div class="row mt-5">			
				<% unless @category_search.empty?  %>
					<% @category_search.each do |category| %>
						<div class="col-10 mx-auto col-md-3">
							<div class="card general-item-card-body h-100">
				          		<%= link_to image_tag(category.photos, class: "card-img-top", alt: "photo here") , category %>
					          	<div class="card-body">
						            <p class="card-title d-flex justify-content-between">
						              <%= link_to category.name, category, class: "h5 product-title" %> <%= link_to "#{category.products.count} products", category, class: "view-button" %>
						            </p>
					          	</div>
				        	</div>
						</div>
					<% end %>
				<% end %>
					
			</div>
		</div>
		<div class="d-none d-md-block col-2" id="search-all-product-section">
			<ul class="list-group product-list-group">
				<li class="list-group-item text-center font-wieht-bold h3 first-list-child">All products</li>
				<% @products.each do |product| %>
					<li class="list-group-item other-list-group-item"><%= link_to product.title, product, class: "catogories-products-link" %></li>
				<% end %>
			</ul>
		</div>
	</div>

</div>