
<div class="container-fluid">
  <div class="row" style="background: #9e3402;">
    <div class="col-md-3 session mx-auto">      
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h3 class="text-center text-white">Log in</h3>
          <%= f.input :email %>
          <%= f.input :password %>
          <%= f.button :submit, "Log In", class: "create-new-user-button py-2" %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

