
<%= render "layouts/flash_messages" %>
<div class="container-fluid">
  <div class="row bg-dark">
    <div class="col-md-6 session p-5">
      <h1 class="text-center text-white">Log in</h1>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.input :email %>
          <%= f.input :password %>
          <%= f.button :submit, "Log In", class: "create-new-user-button" %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>

    <div class="col-md-6 right-user-session text-center p-5">
      <h1 class="mt-5 text-white">Sign In With Social media</h1>
      <button type="submit" class="btn facebook-button mt-5">Sign In with facebook</button>
    </div>
  </div>
  
</div>

