<div class="container-fluid" id="payment-wrapper">
	<div class="container">
		<div class="row text-white my-5">
			<div class="col-md-8">
				<h2 class="text-center">Cost of Delivery</h2>
				<table class="table text-white">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Town</th>
				      <th scope="col">Cost</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">1</th>
				      <td>Buea</td>
				      <td>1000frs</td>
				    </tr>
				    <tr>
				      <th scope="row">2</th>
				      <td>Tiko</td>
				      <td>1500frs</td>
				    </tr>
				    <tr>
				      <th scope="row">3</th>
				      <td>Limbe</td>
				      <td>2000frs</td>
				    </tr>
				    <tr>
				      <th scope="row">3</th>
				      <td>Kumba</td>
				      <td>2000frs</td>
				    </tr>
				    <tr>
				      <th scope="row">3</th>
				      <td>Muyuka</td>
				      <td>1500frs</td>
				    </tr>
				    <tr>
				      <th scope="row">3</th>
				      <td>Bamenda</td>
				      <td>3000frs</td>
				    </tr>
				  </tbody>
				</table>
			</div>
			<div class="col-md-4 mx-auto col-10">
				<div class="card payment-card">
					<div class="card-heading payment-card-heading text-center">Buy in safety with Juicii</div>
					<div class="card-body payment-card-body">
						<%= simple_form_for(@payment) do |f| %>
							<%= f.input :phone, input_html: { value: "237"} %>
							<%= f.input :amount, :as => :hidden, :input_html => { :value => @cart.total_price } %>
							<%= f.input :delivery, collection: ["YES","NO"], hint: "Only for delivery purposes" %>
							<%= f.input :town, collection: ["Buea","Tiko","Limbe","Kumba", "Moyuka", "Bamenda"], hint: "Only for delivery purposes" %>
							<%= f.input :location, hint: "Only for delivery purposes" %>

							<%= f.input :delivery_fees, hint: "Only for delivery purposes" %>
							<%= f.input :account_name, :as => :hidden, :input_html => { :value => current_user.name }%>
							<%= f.input :products, :as => :hidden, :input_html => { :value => @payed_products } %>
							<%= f.input :username, :as => :hidden, :input_html => { :value => current_user.name } %>
							<%= f.button :submit, "pay", id: "payment-button" %>
						<% end %> 
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
	
