
<%= render "layouts/header" %>
<section id="our-products">
    <div class="container-fluid">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-6 text-center our-products-written-content">
                <h3 class="our-products-headings mt-5">Popular Products</h3>
                <h2 class="our-products-title mb-3">Our Products</h2>
                <p class="our-products-headings">The best shopping experience.</p>
            </div>
        </div>      
        <div class="row">
        	<div class="d-none d-md-block col-md-2 p-5 bg-dange" id="home-page-category-div">
            <h4 style="color: #dec391;">Categories</h4>           
            <ul class="list-unstyled">
              <% @all_category.each do |category| %>
                <li class="home-page-category-list"><%= link_to category.name, category, class: "home-page-category-links" %></li>
              <% end %>
            </ul>          
          </div>
          <div class="col-md-8">
            <div class="row">
              <% @home_page_products.each do |product| %>
                <div class="col-lg-3 col-10 col-md-4 mb-4 mx-auto">
                  <div class="card h-100 card-border">
                    <%= link_to image_tag(product.photo_link, class: "card-img-top", alt: "photo here") , product %>
                    <div class="card-body p-0">
                      <h4 class="card-title">
                        <%= link_to product.title, product, class: "products-index-page-links text-center pt-1 d-block" %>
                      </h4>
                      <div class="d-flex justify-content-between">
                        <% if product.promotion == true %>
                          <span class="products-index-page-price"><del>Price: <%= product.price %>CFA</del></span>
                          <span class="products-index-page-price">Price: <%= product.pro_price %> CFA</span>
                        <% else %>
                          <span class="products-index-page-price">Price: <%= product.price %>CFA</span>
                        <% end %>
                        
                      </div>
                      
                     
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                      <%= link_to "SEE MORE", product, class: "products-index-page-links" %>
                      <% if product.availability == true %>
                        <span class="badge badge-pill badge-info">Available</span>
                        <% else %>
                        <span class="badge badge-pill badge-danger">Finished</span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="d-none d-md-block col-md-2">
            <div id="home-page-promotion-div">
              <h4>Hey There!!!!!</h4>
              <h5>Check out our promotions</h5>
              <div class="row">
                <% @home_page_promotion_products.each do |product| %>
                  <div class="col-lg-12 col-md-4 mb-4">
                    <div class="card h-100 card-border">
                      <%= link_to image_tag(product.photo_link, class: "card-img-top", alt: "photo here") , product %>
                      <div class="card-body p-0">
                        <h4 class="card-title">
                          <%= link_to product.title, product, class: "products-index-page-links text-center pt-1 d-block" %>
                        </h4>
                        <div class="card-footer d-flex justify-content-between p-0">
                          <span class="products-index-page-price"><del>Price: <%= product.price %> CFA</del></span>
                          <span class="products-index-page-price">Price: <%= product.pro_price %> CFA</span>
                        </div>
                      </div>                     
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    </div>       
</section>