
<%= render "layouts/header" %>
<section id="our-products">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-6 text-center our-products-written-content">
                <h3 class="our-products-headings mt-5">Popular Products</h3>
                <h2 class="our-products-title mb-3">Our Products</h2>
                <p class="our-products-headings">The best shopping experience.</p>
            </div>
        </div>      
        <div class="row">
        	<% @products.each do |product| %>
          <div class="col-lg-3 col-10 col-md-4 mb-4">
            <div class="card h-100 card-border">
              <%= link_to image_tag(product.photo_link, class: "card-img-top", alt: "photo here") , product %>
              <div class="card-body p-0">
                <h4 class="card-title">
                  <%= link_to product.title, product, class: "products-index-page-links text-center pt-1 d-block" %>
                </h4>
                <span class="products-index-page-price">Price: <%= product.price %> CFA</span>
              </div>
              <div class="card-footer d-flex justify-content-between">
                <%= link_to "SEE MORE", product, class: "products-index-page-links" %>
                <% if product.availability == true %>
                  <span class="badge badge-pill badge-info">Available</span>
                  <% else %>
                  <span class="badge badge-pill badge-danger">Finished</span>
                  <a>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
    </div>       
</section>