  <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-6 text-center">
            <h3 class="section-sub-title"><%= @product.title %></h3>
            <h2 class="section-title mb-3">Featured Products</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nostrum natus excepturi fuga ullam accusantium vel ut eveniet aut consequatur laboriosam ipsam.</p>
          </div>
        </div>
        <div class="bg-white py-4 mb-4">
          <div class="row mx-4 my-4 product-item-2 align-items-start">
            <div class="col-md-6 mb-5 mb-md-0">
              <%= image_tag(@product.photo_link, class: "img-fluid", alt: "Image") %>
            </div>
           
            <div class="col-md-5 ml-auto product-title-wrap">
              <span class="number">01.</span>
              <h3 class="text-black mb-4 font-weight-bold">About This Product</h3>
              <p class="mb-4"><%= @product.description %></p>
              
              <div class="mb-4">
                <div class="price"><span class="price-tag">Price: </span><del class="mr-2">$269.00</del> <%= @product.price %>FCA</div>
              </div>
              <h3>Avalability: <%= @product.availability %></h3>
              <p>
                <%= button_to "Add to cart", line_items_path(product_id: @product), class: "button is-warning add-to-cart" %>
              </p>
            </div>
          </div>
        </div>
      </div>