<section id="product-show-page">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-6 text-center mt-5">
        <h2 class="section-title mb-2"><%= @product.title %></h2>
        <p>We Help You Win!!</p>
      </div>
    </div>
    <div class="py-4 mb-4">
      <div class="row" id="show-product-pict-and-description-row">
        <div class="col-md-6 p-0">
          <div class="card text-center">
            <%= image_tag(@product.photo_link, class: "card-img-top", alt: "Image") %>  
          </div>                 
        </div>
       
        <div class="col-md-6 d-flex align-items-center">
          <div>
            <h4 class="text-black mb-2 font-weight-bold text-center pt-3">About This Product</h4>
            <p class="mb-4"><%= @product.description %></p>
            
            <div class="d-flex justify-content-between">
              <% if @product.promotion == true %>
                <span class="products-index-page-price"><del>Price: <%= @product.price %>CFA</del></span>
                <span class="products-index-page-price">Price: <%= @product.pro_price %> CFA</span>
              <% else %>
                <span class="products-index-page-price">Price: <%= @product.price %>CFA</span>
              <% end %>
              <div>
                <% if @product.availability == true %>
                <span class="badge badge-pill badge-info">Available</span>
                <% else %>
                <span class="badge badge-pill badge-danger">Finished</span>
                <a>
              <% end %>
              </div>
              <div>
                <%= button_to "Add to cart", line_items_path(product_id: @product), class: "add-to-cart" %>
              </div>
            </div>
          </div>         
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h4 class="text-center text-muted my-5">Related Products</h4>
    <div class="row">
        <% @product_category.each do |product| %>
          <div class="col-lg-3 col-10 col-md-4 mb-4 mx-auto">
            <div class="card h-100 card-border">
              <%= link_to image_tag(product.photo_link, class: "card-img-top", alt: "photo here") , product %>
              <div class="card-body p-0">
                <h4 class="card-title">
                  <%= link_to product.title, product, class: "products-index-page-links text-center pt-1 d-block" %>
                </h4>
                <div class="d-flex justify-content-between">
                  <% if product.promotion == true %>
                    <span class="products-index-page-price"><del>Price: <%= product.price %>CFA</del></span>
                    <span class="products-index-page-price">Price: <%= product.pro_price %> CFA</span>
                  <% else %>
                    <span class="products-index-page-price">Price: <%= product.price %>CFA</span>
                <% end %>                        
                </div>                     
              </div>
              <div class="card-footer d-flex justify-content-between">
                <%= link_to "SEE MORE", product, class: "products-index-page-links" %>
                <% if product.availability == true %>
                  <span class="badge badge-pill badge-info">Available</span>
                  <% else %>
                  <span class="badge badge-pill badge-danger">Finished</span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</section>